<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Jinja2 (출력)</title>
</head>
<body>
    이 페이지는 출력에 대한 페이지이다.<br/>
    <br/>
    str1 : {{a1}}<br/>
    int1 : {{a2}}<br/>
    double1 : {{a3}}<br/>
    boolean1 : {{a4}}<br/>
    <br/>
    <h1>* List, Dictionary</h1>

    <h2>&gt; List</h2>

    <h3>list1 : {{a5}}</h3>
    <h4>list[0] : {{a5[0]}}</h4>
    <h4>list[1] : {{a5[1]}}</h4>
    <h4>list[2] : {{a5[2]}}</h4>

    <h3>&gt; dict1 : {{a6}}</h3>
    <h4>dict1.b1 : {{a6.b1}}</h4>
    <h4>dict1.b2 : {{a6.b2}}</h4>
</body>
</html>